{% extends "layout.html" %}
{% block title %}Detected insects{% endblock %}

{% block content %}
<div class='container'>
<div id="profile" class="col-lg-6">
        <div id="profile-resume" class="card">
                <div>
                    <img src="{{url_for('static',filename='img2/' + filename)}}">
                </div>
                <div class="card-block">
                    <h3 class="card-title">{{results[0].label}} </h3>
                    <p class="card-text">Confidence: {{(results[0].score*100)}}% </p>
                    <p class="card-text">Stage of growth: {{selected_insect_info[1]}} </p>
                    <p class="card-text">Damage description: {{selected_insect_info[2]}}</p>
                </div>
        </div>
</div>
{% endblock %} 
{% block scripts %} 
{{ super() }} 
<script src="/static/js/jquery-3.4.1.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/main.js"></script>
{% endblock %} 